*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
        poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      overflow-x: hidden;
      
}
/* hero-section */
#hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(images/images/hero.jpeg) ;
    background-size: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   filter: brightness(100%);
}
#hero-content{
    position: absolute;
}
#hero-content h1{
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px 000;
}
#hero-content h2{
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px 000;
}
#hero-content a{
    color: #fff;
    padding: 1px 15px 1px 15px;
    border: 1px solid orange;
    background: rgb(0,0,0,0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}
#hero-content a:hover{
    background: navy;
}
/* --------------------------------- */
/* header-section */
#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar{
    display: flex;
    
     background: rgb(0,0,0,0.5);
}
#navbar h1{
    color: orange;
     font-size: 1.8rem;
     text-shadow: 2px 2px 2px 000;
     font-family: cursive;
     margin-right: -10px;
   
}
#navbar ul{
    display: flex;
    margin-left: 47rem;
    
}
#navbar ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;
}
#navbar ul li:hover{
    background: navy;
    cursor: pointer;
}
#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

/* menu-section */
#menu{
    padding: 25px 0 25px 0;
}
#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}
#menu-row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu-col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
#menu-col h2{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}
#image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;    
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
   object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

/* chef-section */
#chef{
    padding: 25px 0 25px 0;
}
#chef-row{
    display: flex;
    justify-content: center;
}
.chef-col{
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#img{
  width: 200px;
  height: 250px;
  margin: auto;
}
#img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* about-section */
#about{
   padding: 25px 0 25px 0;
}
#about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
}
.about-col{
    flex: 1;
}
#about-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}
#about-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}
.about-col h1{
    text-align: center;
    font-family: cursive; 
}
.about-col p{
    text-align: justify;
    font-weight: bold;
}

/* footer */
#footer{
    background-color: #292929;
    padding: 20px;
    position: relative;
}
#footer h5{
    text-align: center;
    color: orange;
}
#footer h5 a{
    color: #fff;
    text-decoration: none;
}
#top{
    position: absolute;
    bottom: 12px;
    right: 12px;
}
#top a{
    color: #fff;
    font-size: 1.5rem;
}





